page-pillbox {
  .logoHeader {
    vertical-align: middle;
    height: 380px;
  }

  .floatLeft {
    float: left;
  }

  .floatRight {

    float: right;
  }

  #testing {
    height: 380px;
    vertical-align: top;
  }
}
