page-home {
  .title{
    text-align: center;
  }
  .lbTitle{
    color: #C8C3EC;
    font-size: 230%;
    text-align: center;
  }
  .lbMessage{
    color: #AAAAAA;
    font-size: 230%;
    text-align: center;
    white-space: pre;
  }
  .lbNumber{
    color:#929292;
    font-size: 840%;
    text-align: center;
  }
  .lbNumberDesc{
    color: #AAAAAA;
    font-size: 150%;
    text-align: center;
  }
  ion-img{
    background: transparent;
  }
}

